.nowrap {
    display:flex;
    flex-direction: nowrap;
}

.wrap {
    display:flex;
    /* flex-direction: wrap; */
}

.row {
    display:flex;
    flex-direction:row;
}

#mapId {
    height: 60%; 
    justify-content: center;
}

#origin,#destination{
    width:100%;
}

#manual{
    text-align:justify ;
    background: linear-gradient(
        to right,
    
        rgb(155, 34, 13),
        rgb(224, 123, 123),
        rgb(214, 173, 170),
        rgb(243, 217, 216)
      );
}

img{
    height:80%;
    width:100%;
}

#buttonDiv{
    text-align: center;
}
